In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("airlines.csv")

In [3]:
df.head()

,Airport.Code,Airport.Name,Time.Year,Statistics.Flights.Cancelled
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
1,BOS,"Boston, MA: Logan International",2003,138
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003,29
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003,73
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003,74

In [4]:
df.columns

Index(['Airport.Code', 'Airport.Name', 'Time.Year',
       'Statistics.Flights.Cancelled'],
      dtype='object')

In [27]:
#output 1
items = df['Airport.Name'].value_counts()
items

Atlanta, GA: Hartsfield-Jackson Atlanta International                  154
New York, NY: LaGuardia                                                150
Charlotte, NC: Charlotte Douglas International                         150
Las Vegas, NV: McCarran International                                  150
Miami, FL: Miami International                                         150
Fort Lauderdale, FL: Fort Lauderdale-Hollywood International           150
Orlando, FL: Orlando International                                     150
New York, NY: John F. Kennedy International                            150
Detroit, MI: Detroit Metro Wayne County                                150
Chicago, IL: Chicago O'Hare International                              150
Dallas/Fort Worth, TX: Dallas/Fort Worth International                 150
Denver, CO: Denver International                                       150
Washington, DC: Washington Dulles International                        150
Chicago, IL: Chicago Midway International                              150
Houston, TX: George Bush Intercontinental/Houston                      150
Washington, DC: Ronald Reagan Washington National                      150
Minneapolis, MN: Minneapolis-St Paul International                     150
Boston, MA: Logan International                                        150
Los Angeles, CA: Los Angeles International                             150
Baltimore, MD: Baltimore/Washington International Thurgood Marshall    150
Newark, NJ: Newark Liberty International                               150
San Francisco, CA: San Francisco International                         149
Tampa, FL: Tampa International                                         149
Salt Lake City, UT: Salt Lake City International                       149
Seattle, WA: Seattle/Tacoma International                              149
San Diego, CA: San Diego International                                 149
Portland, OR: Portland International                                   149
Philadelphia, PA: Philadelphia International                           149
Phoenix, AZ: Phoenix Sky Harbor International                          137
Name: Airport.Name, dtype: int64

In [23]:
#output2
maxitems1 = df['Airport.Name'].value_counts().idxmax()
maxitems1

'Atlanta, GA: Hartsfield-Jackson Atlanta International'

In [24]:
#output3
minitems1 = df['Airport.Name'].value_counts().idxmin()
minitems1

'Phoenix, AZ: Phoenix Sky Harbor International'